@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: #131316;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  a {
    @apply text-secondary-orange;
  }
}

@layer utilities {
  .date--range {
    @apply gap-y-4 gap-x-5 w-fit flex flex-wrap;
  }
  .date--range-pill {
    @apply border rounded-full px-4 py-2 text-sm font-semibold cursor-pointer text-dark-shade;
  }
  .date--range .isActive {
    @apply border-secondary-orange text-secondary-orange;
    background: #ffddcd;
    border-radius: 100px;
  }
}
